/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        to_0: to_0 {
            label = "ZM_to_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F13 &to 0>;
        };

        to_1: to_1 {
            label = "ZM_to_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F16 &to 1>;
        };

        to_2: to_2 {
            label = "ZM_to_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F18 &to 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                &kp LGUI    &kp Q        &kp W     &kp F    &kp P     &kp B                                                 &kp J       &kp L        &kp U     &kp Y      &kp SEMI  &kp RGUI
                &kp LSHFT   &kp A        &kp R     &kp S    &kp T     &kp G                                                 &kp M       &kp N        &kp E     &kp I      &kp O     &kp RSHIFT
                &kp LALT    &kp Z        &kp X     &kp C    &kp D     &kp V     &to_1     &kp LSHFT /**/ &kp LCTRL &to_1    &kp K       &kp H        &kp COMMA &kp DOT    &kp FSLH  &kp RALT
                                                   &kp LEFT &kp ENTER &to_2     &kp SPACE &kp TAB   /**/ &kp DEL   &kp BSPC &to_2       &kp ESC      &kp RIGHT
            >;
        };

        sym {
            bindings = <
                &kp PIPE    &kp N7       &kp N5    &kp N3   &kp N1    &kp N9                                               &kp N8       &kp N0       &kp N2    &kp N4     &kp N6    &kp BSLH
                &kp KP_PLUS &kp KP_EQUAL &kp TILDE &kp LPAR &kp LBKT  &kp LBRC                                             &kp RBRC     &kp RBKT     &kp RPAR  &kp DQT    &kp GRAVE &kp SQT
                &to_0       &kp AMPS     &kp PRCNT &kp HASH &kp EXCL  &kp UNDER &to_0     &to_0    /**/ &to_0     &to_0    &kp STAR     &kp KP_MINUS &kp AT    &kp DLLR   &kp CARET &to_0
                                                   &to_0    &to_0     &to_0     &kp SPACE &kp TAB  /**/ &kp DEL   &kp BSPC &to_0        &to_0        &to_0
            >;
        };

        func {
            bindings = <
                &to_0       &kp F9       &kp F10   &kp F11  &kp F12   &to_0                                                &kp C_VOL_UP &to_0        &kp UP    &to_0      &kp F20   &to_0
                &to_0       &kp F5       &kp F6    &kp F7   &kp F8    &kp ESC                                              &kp C_VOL_DN &kp LEFT     &kp DOWN  &kp RIGHT  &to_0     &to_0
                &to_0       &kp F1       &kp F2    &kp F3   &kp F4    &to_0     &to_0     &to_0     /**/ &to_0    &to_0    &kp C_MUTE   &kp C_PREV   &kp C_PP  &kp C_NEXT &kp F19   &to_0
                                                   &to_0    &to_0     &to_0     &kp SPACE &kp TAB   /**/ &kp DEL  &kp BSPC &to_0        &to_0        &to_0
            >;
        };
    };
};
