/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

#define HAS_MOUSE_TP

#include "includes/mouse_tp.dtsi"

&left_encoder  { steps = <36>; };
&right_encoder { steps = <36>; };
&led_strip { chain-length = <25>; };

/ {
    input_configs {
        compatible = "zmk,input-configs";

        mmv {
            device = <&mmv>;
            scale-multiplier = <1>;
        };

        msc {
            device = <&msc>;
            scale-multiplier = <1>;
        };
    };

    behaviors {
        rot_mmv: sensor_rotate_mmv {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            tap-ms = <100>;
            bindings = <&mmv>, <&mmv>;
        };

        rot_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            tap-ms = <100>;
            bindings = <&msc>, <&msc>;
        };

        rgb_bri_encoder: rgb_bri_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };

        rgb_hue_encoder: rgb_hue_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
        };

        rgb_sat_encoder: rgb_sat_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";

            bindings = <
                &kp ESC    &kp Q     &kp W    &kp F    &kp P     &kp B                                                 &kp J     &kp L     &kp U      &kp Y      &kp SEMI  &kp DEL
                &kp TAB    &kp A     &kp R    &kp S    &kp T     &kp G                                                 &kp M     &kp N     &kp E      &kp I      &kp O     &kp SQT
                &kp GRAVE  &kp Z     &kp X    &kp C    &kp D     &kp V  &to 0     &to 0    /**/ &to 0       &to 0      &kp K     &kp H     &kp COMMA  &kp DOT    &kp FSLH  &kp ENTER
                                              &to 3    &kp RCTRL &to 1  &kp SPACE &kp LALT /**/ &kp RSHIFT  &key_repeat &to 2    &kp RGUI  &kp BSPC
            >;

            sensor-bindings = <
                &rot_msc SCRL_UP SCRL_DOWN
                &rot_msc SCRL_LEFT SCRL_RIGHT
            >;
        };

        sym {
            display-name = "SYM";

            bindings = <
                &kp ESC      &kp AMPS    &kp PRCNT &kp HASH &kp EXCL   &kp LPAR                                             &kp RPAR  &kp AT    &kp DLLR  &kp CARET  &kp ASTRK &kp DEL
                &kp TAB      &kp N7      &kp N5    &kp N3   &kp N1     &kp N9                                               &kp N0    &kp N2    &kp N4    &kp N6     &kp N8    &kp SQT
                &kp GRAVE    &kp UNDER   &kp PIPE  &kp BSLH &kp MINUS  &kp LBKT &to 0     &to 3    /**/ &to 0      &to 0    &kp RBKT  &kp EQUAL &kp COMMA &kp DOT    &kp FSLH  &kp ENTER
                                                   &to 3    &kp RCTRL  &to 0    &kp SPACE &kp LALT /**/ &kp RSHIFT &key_repeat &to 2  &kp RGUI  &kp BSPC
            >;

            sensor-bindings = <
                &rot_mmv MOVE_LEFT MOVE_RIGHT
                &rot_mmv MOVE_UP MOVE_DOWN
            >;
        };

        func {
            display-name = "FN";

            bindings = <
                &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6                                             &kp ESC    &none      &none    &none      &none     &none
                &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12                                            &none      &kp LEFT   &kp DOWN &kp UP     &kp RIGHT &kp C_VOL_UP
                &none     &none     &none     &none     &none     &none  &to 0     &to 0    /**/ &to 0      &to 0    &kp C_MUTE &kp C_PREV &kp C_PP &kp C_NEXT &none     &kp C_VOL_DN
                                              &to 3     &kp RCTRL &to 1  &kp SPACE &kp LALT /**/ &kp RSHIFT &key_repeat &to 0   &kp RGUI   &kp BSPC
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };

        mouse {
            display-name = "MOUSE";
            bindings = <                                                                                                                     /* Scroll up/down are reversed on mac */
                &none     &none     &none     &none     &none     &none                     /**/                     &none   &msc SCRL_RIGHT &msc SCRL_UP   &msc SCRL_DOWN &msc SCRL_LEFT  &none
                &none     &none     &mkp MB3  &mkp MB2  &mkp MB1  &none                     /**/                     &none   &mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_UP   &mmv MOVE_RIGHT &none
                &none     &none     &none     &none     &none     &none  &to 0     &to 0    /**/ &to 0      &to 0    &none   &none           &none          &none          &none           &none
                                              &to 4     &kp RCTRL &to 1  &kp SPACE &kp LALT /**/ &kp RSHIFT &key_repeat &to 0 &kp RGUI       &kp BSPC
            >;

            sensor-bindings = <
                &rgb_bri_encoder
                &rgb_sat_encoder
            >;
        };

        config { 
            display-name = "CONF";

            bindings = <
                &none   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none     &none                     /**/                     &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_COLOR_HSB(30,100,100) &rgb_ug RGB_COLOR_HSB(30,80,100) &rgb_ug RGB_COLOR_HSB(30,100,80) &none
                &none   &none        &none        &none        &none     &rgb_ug RGB_EFF           /**/                     &rgb_ug RGB_HUI &rgb_ug RGB_HUD &rgb_ug RGB_ON                    &rgb_ug RGB_OFF &rgb_ug RGB_TOG  &none
                &none   &bt BT_PRV   &bt BT_CLR   &bt BT_NXT   &none     &none  &to 0     &to 0    /**/ &to 0      &to 0    &rgb_ug RGB_SAI &rgb_ug RGB_SAD &none                             &none           &none            &none
                                                  &to 3        &kp RCTRL &to 1  &kp SPACE &kp LALT /**/ &kp RSHIFT &key_repeat &to 0           &kp RGUI        &kp BSPC
            >;

            sensor-bindings = <
                &rgb_hue_encoder
                &rgb_bri_encoder
            >;
        };
    };
};
