/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&left_encoder   { steps = <36>; };
&right_encoder  { steps = <36>; };

&led_strip {
    chain-length = <25>;
};

/ {
    macros {
        to_0: to_0 {
            label = "ZM_to_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F13 &to 0>;
        };

        to_1: to_1 {
            label = "ZM_to_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F16 &to 1>;
        };

        to_2: to_2 {
            label = "ZM_to_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F18 &to 2>;
        };

        to_3: to_3 {
            label = "ZM_to_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F17 &to 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LGUI     &kp Q        &kp W     &kp F     &kp P     &kp B                                            &kp J        &kp L        &kp U     &kp Y      &kp SEMI  &kp RGUI
                &kp LSHFT    &kp A        &kp R     &kp S     &kp T     &kp G                                            &kp M        &kp N        &kp E     &kp I      &kp O     &kp RSHIFT
                &kp LALT     &kp Z        &kp X     &kp C     &kp D     &kp V    &to_0     &to_0   /**/ &to_0   &to_0    &kp K        &kp H        &kp COMMA &kp DOT    &kp FSLH  &kp RALT
                                                    &kp RCTRL &kp ENTER &to_1    &kp SPACE &kp TAB /**/ &kp DEL &kp BSPC &to_2        &kp ESC      &kp RCTRL
            >;
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PG_UP PG_DN
            >;
        };

        sym {
            bindings = <
                &kp LGUI     &none        &none     &none     &kp SQT   &none                                            &none        &kp SQT      &none     &none      &kp SEMI  &kp RGUI
                &kp LSHFT    &kp N7       &kp N5    &kp N3    &kp N1    &kp N9                                           &kp N0       &kp N2       &kp N4    &kp N6     &kp N8    &kp RSHIFT
                &kp LALT     &kp GRAVE    &kp SEMI  &kp BSLH  &kp MINUS &kp LBKT &to_0     &to_0   /**/ &to_0   &to_0    &kp RBKT     &kp EQUAL    &kp COMMA &kp DOT    &kp FSLH  &kp RALT
                                                    &kp RCTRL &kp ENTER &to_0    &kp SPACE &kp TAB /**/ &kp DEL &kp BSPC &to_2        &kp ESC      &kp RCTRL
            >;
            sensor-bindings = <
                &inc_dec_kp UP DOWN
                &inc_dec_kp LEFT RIGHT
            >;
        };

        func {
            bindings = <
                &kp LGUI     &kp F9       &kp F10   &kp F11  &kp F12   &to_3                                             &kp C_VOL_UP &to_0        &kp UP    &to_0      &kp F20   &kp RGUI
                &kp LSHFT    &kp F5       &kp F6    &kp F7   &kp F8    &kp ESC                                           &kp C_VOL_DN &kp LEFT     &kp DOWN  &kp RIGHT  &kp F21   &kp RSHIFT
                &kp LALT     &kp F1       &kp F2    &kp F3   &kp F4    &to_3     &to_0     &to_0   /**/ &to_0   &to_0    &kp C_MUTE   &kp C_PREV   &kp C_PP  &kp C_NEXT &kp F19   &kp RALT
                                                    &kp RCTRL &kp ENTER &to_1    &kp SPACE &kp TAB /**/ &kp DEL &kp BSPC &to_0        &kp ESC      &kp RCTRL
            >;
            sensor-bindings = <
                &inc_dec_kp LG(LC(LS(N4))) LG(LS(N4))
                &inc_dec_kp C_VOL_DN C_VOL_UP
            >;
        };

        rgb {
            bindings = <
                &to_0 &rgb_ug RGB_SPI &rgb_ug RGB_SPD &to_0           &to_0           &to_0                       /**/             &to_0 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &to_0 &bt BT_CLR
                &to_0 &rgb_ug RGB_TOG &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_EFF             /**/             &to_0 &bt BT_PRV   &bt BT_CLR   &bt BT_NXT   &to_0 &to_2
                &to_0 &to_0           &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFR &to_0 &to_0 /**/ &to_0 &to_0 &to_0 &to_0        &to_0        &to_0        &to_0 &to_0
                                                      &to_0           &to_0           &to_0           &to_0 &to_0 /**/ &to_0 &to_0 &to_0 &to_0        &to_0
            >;
        };
    };
};
