/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                &kp LGUI  &kp Q &kp W &kp F    &kp P     &kp B                                           &kp J &kp L   &kp U     &kp Y   &kp SEMI &kp RGUI
                &kp LSHFT &kp A &kp R &kp S    &kp T     &kp G                                           &kp M &kp N   &kp E     &kp I   &kp O    &kp RSHIFT
                &kp LALT  &kp Z &kp X &kp C    &kp D     &kp V &to 1     &kp LSHFT    &kp LCTRL &to 1    &kp K &kp H   &kp COMMA &kp DOT &kp FSLH &kp RALT
                                      &kp LEFT &kp ENTER &kp Y &kp SPACE &kp TAB      &kp DEL   &kp BSPC &kp Y &kp ESC &kp RIGHT
            >;
        };
        symbols {
            bindings = <
                &kp PIPE    &kp N7       &kp N5    &kp N3   &kp N1   &kp N9                                         &kp N8   &kp N0       &kp N2   &kp N4   &kp N6    &kp BSLH
                &kp KP_PLUS &kp KP_EQUAL &kp TILDE &kp LPAR &kp LBKT &kp LBRC                                       &kp RBRC &kp RBKT     &kp RPAR &kp DQT  &kp GRAVE &kp SQT
                &to 0       &kp AMPS     &kp PRCNT &kp HASH &kp EXCL &kp UNDER &to 0     &to 0     &to 0   &to 0    &kp STAR &kp KP_MINUS &kp AT   &kp DLLR &kp CARET &to 0
                                                   &to 0    &to 0    &to 0     &kp SPACE &kp TAB   &kp DEL &kp BSPC &to 0    &to 0        &to 0
            >;
        };
        // functions {
        //     bindings = <
        //         &kp Z &kp F9 &kp F10 &kp F11 &kp F12 &kp Z                                      &kp C_VOL_UP   &kp Z      &kp UP     &kp Z      &kp F20 &kp Z
        //         &kp Z &kp F5 &kp F6  &kp F7  &kp F8  &kp ESC                                    &kp C_VOL_DOWN &kp LEFT   &kp DOWN   &kp RIGHT  &kp Z   &kp Z
        //         &kp Z &kp F1 &kp F2  &kp F3  &kp F4  &kp Z &kp Z     &kp Z     &kp Z   &kp Z    &kp C_MUTE     &kp C_PREV &kp C_PLAY &kp C_NEXT &kp F19 &kp Z
        //                              &kp Z   &kp Z   &kp Z &kp SPACE &kp TAB   &kp DEL &kp BSPC &kp Z          &kp Z      &kp Z
        //     >;
        // };
    };
};
